{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='Chart.js') }}"></script>
<script language="javacript" type="text/javascript">
    var options= {
        scaleOverride: false,
        scaleSteps: 10,
        scaleStepWidth: 10,
        scaleStartValue: 0,
        scaleShowGridLines: false,
        bezierCurve: false,
        animation: false
    }
    var data = {
        labels : [
            {% for m in mods%}
            "",
            {% endfor %}
        ],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                data : [
                    {% for m in mods%}
                    {{ m.mod_result }},
                    {% endfor %}
                ]
            },
        ]
    }
    function mod_click(mod) {
        var form = document.getElementById("modform");
        cid = {{course.cid}};
        form.action = "/course/alter/"+cid+"/"+mod
        form.submit()
            
    }
</script>
<h2>Course {{ course.name }} </h2>
<div class="pagination" align="center">
    <form id="modform" method="POST" action="/course/alter/{{course.cid}}/">
        <ul>
            {% if not readonly %}
            <li onclick='mod_click(0)'><a href='#'>-3</a></li>
            <li onclick='mod_click(1)'><a href='#'>-2</a></li>
            <li onclick='mod_click(2)'><a href='#'>-1</a></li>
            {% endif %}
            <li class=score><a href="#"><b>{{ myscore.score }}</b></a></li>
            {% if not readonly %}
            <li onclick='mod_click(3)'><a href='#'>+1</a></li>
            <li onclick='mod_click(4)'><a href='#'>+2</a></li>
            <li onclick='mod_click(5)'><a href='#'>+3</a></li>
            {% endif %}
        </ul>
        {% if not readonly %}
        <ul>
            <textarea name="reason" placeholder="your reason"></textarea>
        </ul>
        {% endif %}
    </form>
</div>
<h2>Score of others</h2>
<ul class=entries>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>user</th>
                <th>score</th>
            </tr>
        </thead>
        <tbody>
            {% for s in allscore %}
            <tr {% if myscore.uname == s.uname %}class='selected' {% endif %} >
                <th>{{ loop.index }}</th>
                <th>{{ s.uname }}</th>
                <th>{{ s.score }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</ul>
<h2>Change Log</h2>
<ul class=entries>
    <canvas id="canvas" width="450" height="450"></canvas>
    <script language="javacript" type="text/javascript">
        var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(data,options);
    </script>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>mod</th>
                <th>result</th>
                <th>time</th>
                <th>reason</th>
            </tr>
        </thead>
        <tbody>
            {% for m in mods %}
            <tr >
                <th>{{ loop.index }}</th>
                <th>{{ m.mod_value }}</th>
                <th>{{ m.mod_result }}</th>
                <th>{{ m.mod_time }}</th>
                <th>{{ m.mod_reason }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</ul>
{% endblock %}
